$light-grey: #B1B1B1;
$grey: #6d6d6d;
$dark:#141619;
$dark-light: #232428;
$black: #222;
$blue: #009CFF;
$green: #5CB85C;
$red: #E84C3D;
$purple: #A66BBE;
$orange: #F7B422;
$white-light: rgba(255, 255, 255, 0.7);
$dark-grey: rgba(0, 0, 0, 0.7);
$grid-gutter-width: 20px;