<div class="post-meta">
  <div class="post-meta-wrap post light">
    <div class="meta-item date">19.12.2019</div>
    <div class="meta-item views">11</div>
    <div class="meta-item comments">0</div>
  </div>
</div>