.post-meta {
  width: 100%;
  font-size: 12px;
  &-wrap {
    display: flex;
    align-items: center;
    &.dark {
      color: rgba(255, 255, 255, .7);
    }
    &.light {
      color: #6D6D6D;
    }
    &.post {
      height:40px;
      padding: 0 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);;
      margin-top: auto;
    }
  }
  .meta-item {
    display: inline-block;
    & + .meta-item {
      margin-left: 10px;
    }
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 5px;
    }
    &.date {
      &::before {
        content: '\f073';
      }
    }
    &.views {
      &::before {
        content: '\f06e';
      }
    }
    &.comments {
      &::before {
        content: '\f086';
      }
    }
    &.likes {
      &::before {
        content: '\f004';
      }
    }
  }
}