<ul class="main-menu">
  <li class="menu-item has-dropdown">
    <a href="index.html">Новости</a>
    <ul class="dropdown">
      <li class="dropdown-item">
        <a href="home-magazine.html">PC</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Xbox</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Playstation</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">VR</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Железо</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Кино</a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-dropdown">
    <a href="pages/articles.html">Статьи</a>
    <ul class="dropdown">
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-dropdown">
    <a href="index.html">Видео</a>
    <ul class="dropdown">
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-dropdown">
    <a href="index.html">Кино</a>
    <ul class="dropdown">
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
    </ul>
  </li>
  <li class="menu-item has-dropdown">
    <a href="index.html">Игры</a>
    <ul class="dropdown">
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
      <li class="dropdown-item">
        <a href="home-magazine.html">Home Magazine</a>
      </li>
      <li class="dropdown-item">
        <a href="home-blog.html">Home Blog</a>
      </li>
    </ul>
  </li>
</ul>
