.main-menu {
  top: 66px;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $dark;
  .menu-item {
    &.has-dropdown {
      > a::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free", sans-serif;
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
      }
      &.open {
        > .dropdown {
          display: block;
        }
      }
    }
  }
  a {
    color: $light-grey;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
  .dropdown {
    display: none;
    list-style: none;
    z-index: 99;
    min-width: 220px;
    margin: 0;
    background-color: $dark;
    padding: 5px 0 10px 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    &-item {
      a {
        display: block;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #949494;
        transition: .2s ease-in-out;
      }
    }
  }
}

@media (max-width: 991px) {
  .main-menu {
    position: fixed;
    display: none;
    .menu-item {
      border-bottom: 1px solid $dark-light;
      &.has-dropdown {
        & > a {
          &::after {
            font-size: 12px;
          }
        }
      }
      & > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-menu {
    display: block;
    position: static;
    .menu-item {
      display: inline-flex;
      position: relative;
      .btn-search {
        padding: 0 10px;
      }
      & > a {
        display: inline-block;
        padding: 0 10px;
        line-height: 70px;
        &:hover {
          color: #fff;
        }
      }
      &.has-dropdown {
        & > a {
          &::after {
            margin-left: 5px;
            font-size: 10px;
          }
        }
      }
    }
    .dropdown {
      position: absolute;
      top: 100.8%;
      left: 0;
      &-item {
        a {
          &:hover {
            background-color: rgba(0, 0, 0, .1);
            color: #fff;
          }
        }
      }
    }
  }
}