.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid $dark-light;
  background-color: $dark;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-action {
    display: none;
  }
  .logo-brand {
    order: 2;
  }
  &-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
  }
  .user-dropdown {
    display: inline-flex;
    align-items: center;
    color: $light-grey;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    .user-name {
      display: none;
      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free", sans-serif;
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
        font-size: 8px;
        float: right;
        margin-left: 5px;
      }
    }
    img {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .dropdown-menu {
    right: 15px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    min-width: 180px;
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: 0;
    transition: all .3s;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    a {
      display: block;
      width: 100%;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      outline: 0;
      font-size: 13px;
      padding: 7px 17px;
      color: #5a5a5a;
      text-decoration: none;
      i {
        margin-right: 10px;
      }
      &:hover {
        color: rgba(0, 0, 0, .7);
        background-color: #f5f5f5;
      }
      .active {
        color: #fff;
        background-color: $blue;
      }
    }
  }

  .divider {
    height: 0;
    overflow: hidden;
    margin: .5rem 0;
    border-top: 1px solid #e9ecef;
  }

  &-search {
    background-color: $dark;
    position: absolute;
    z-index: 2;
    top: 100.8%;
    left: 0;
    width: 100%;
    padding: 15px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .search-form {
    position: relative;
    input {
      display: block;
      color: #666;
      width: 100%;
      font-weight: 400;
      border-color: transparent;
      height: 35px;
      line-height: 35px;
      padding-left: 15px;
      padding-right: 45px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: .25rem;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .search-close {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 15px;
      opacity: .5;
      text-shadow: none;
      width: 35px;
      height: 35px;
      border: none;
      padding: 0;
      line-height: 35px;
      text-align: center;
      outline: none;
      background: transparent;
      cursor: pointer;
      &:hover {
        opacity: 1;
        color: $dark;
      }
      &::after {
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f00d";
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
      }
    }
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: $light-grey;
  font-weight: 500;
  cursor: pointer;
  background-color: $dark-light;
  outline: none;
  &:hover {
    color: #fff;
  }
  &::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 900;
    text-decoration: inherit;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 15px 0;
    &-nav {
      order: 1;
    }
    .user-dropdown {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .dropdown-menu {
      position: fixed;
      top: 66px;
    }
  }
  .btn-search {
    margin-right: 5px;
  }
  .nav-btn {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    padding: 10px 5px;
    background-color: $dark-light;
    border-radius: 50%;
    outline: none;
    &.close {
      position: relative;
      .burger-line {
        display: none;
      }
      &::before,
      &::after {
        position: absolute;
        top: 14px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      & + .main-menu {
        display: block;
      }
    }
    &::after,
    &::before,
    .burger-line {
      content: "";
      display: block;
      width: 15px;
      height: 2px;
      background-color: $light-grey;
    }
    &::after,
    &::before {
      transition: transform .4s;
    }
  }
}

@media (min-width: 992px) {
  .header {
    padding: 0;
    &-action {
      display: block;
    }
    &-nav {
      order: 2;
    }
    .user-dropdown {
      img {
        width: 40px;
        height: 40px;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 100.8%;
    }
  }
  .btn-search {
    margin-right: 10px;
  }
  .nav-btn {
    display: none;
  }
}