<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 header-wrap">
        <div class="logo-brand">
          <h1>
            @@include("../logo/logo.html")
          </h1>
        </div>
        <nav class="header-nav">
          <button type="button" class="nav-btn">
            <span class="burger-line"></span>
          </button>
          @@include("../main-menu/main-menu.html")
        </nav>
        <div class="header-dropdown">
          <button type="button" aria-label="search" class="btn-search"></button>
          <div class="user-dropdown">
            <img src="img/header/user-photo.png" alt=""> 
            <span class="user-name">Нейтан Дрейк</span>
          </div>
          <div class="dropdown-menu">
            <!-- <a href="#"><i class="fas fa-sign-in-alt"></i> Войти</a>
            <a href="#"><i class="fas fa-user-plus"></i> Регистрация</a> -->
            <a href="#"><i class="fa fa-user"></i> Профиль</a>
            <a href="#"><i class="fa fa-cog"></i> Редактировать</a>
            <a href="#"><i class="fa fa-heart"></i> Админ панель</a>
            <div class="divider"></div>
            <a href="login.html"><i class="fas fa-sign-out-alt"></i> Выйти</a>
          </div>
        </div>
        <!-- <div class="header-action">
          <a href="#" class="btn btn-blue login">Войти</a>
          <a href="#" class="btn btn-green registration"> Регистрация</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="header-search">
    <div class="container">
      <form method="post" class="search-form">
        <input type="search" placeholder="Поиск...">
        <button class="search-close" type="button"></button>
      </form>
    </div>
  </div>
</header>