<section class="main-carousel">
  <div class="owl-carousel owl-posts">
    <div class="post-carousel">
      <a href="blog-post.html"><img src="https://img.youtube.com/vi/82Xd-lHmtzk/maxresdefault.jpg" alt=""></a>
      <span class="category-badge games">ps4</span>
      <div class="post-block">
        <div class="post-caption">
          <h2 class="post-title">
            <a href="blog-post.html">World of Tanks Campaign Hands-On: It's Got War Stories to Tell</a>
          </h2>
          @@include("../post-meta/post-meta_dark.html")
        </div>
      </div>
    </div>
    <div class="post-carousel">
      <a href="blog-post.html"><img src="https://img.youtube.com/vi/BlINFsdTKQ4/maxresdefault.jpg" alt=""></a>
      <span class="category-badge games">xbox one</span>
      <div class="post-block">
        <div class="post-caption">
          <h2 class="post-title">
            <a href="blog-post.html">Monster Hunter World Is the Best Introduction to the Series</a>
          </h2>
          @@include("../post-meta/post-meta_dark.html")
        </div>
      </div>
    </div>
    <div class="post-carousel">
      <a href="blog-post.html"><img src="https://img.youtube.com/vi/SP8ZN7uXJ10/maxresdefault.jpg" alt=""></a>
      <span class="category-badge games">steam</span>
      <div class="post-block">
        <div class="post-caption">
          <h2 class="post-title">
            <a href="blog-post.html">For Honor: Every Highlander Execution and Emote</a>
          </h2>
          @@include("../post-meta/post-meta_dark.html")
        </div>
      </div>
    </div>
  </div>
</section>