.main-carousel {
  padding: 5px 0;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
.post-carousel {
  position: relative;
  .category-badge {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .post-block {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    .post-caption {
      background-color: #212121;
      padding: 20px 25px;
      display: inline-block;
      border-left: 4px solid #2575dc;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      border-radius: 4px;
    }
    .post-title {
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      margin: 0 0 7px 0;
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}