.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
  .widget {
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
    & + .widget {
      margin-top: 30px;
    }
    &-title {
      padding: 15px 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 14px;
      text-transform: uppercase;
      &.blue {
        border-bottom: 3px solid $blue;
      }
      &.green {
        border-bottom: 3px solid $green;
      }
      &.purple {
        border-bottom: 3px solid $purple;
      }
      &.red {
        border-bottom: 3px solid $red;
      }
      &.orange {
        border-bottom: 3px solid $orange;
      }
    }
    .post-item {
      padding: 15px 20px;
      & + .post-item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      .post-image {
        position: relative;
        margin-bottom: 15px;
        line-height: 0;
        .category-badge {
          position: absolute;
          top: 15px;
          left: 15px;
        }
      }
      .post-meta {
        color: rgba(0, 0, 0, 0.7);
      }
      h5 {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
        a {
          color: $black;
          text-decoration: none;
          &:hover {
            color: $blue;
          }
        }
      }
    }
    .catalog {
      &-post {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        &:first-of-type {
          margin-top: 10px;
        }
        &:last-of-type {
          margin-bottom: 10px;
        }
        .post-meta {
          font-size: 11px;
          line-height: 1;
          color: $dark-grey;
        }
        .catalog-rating {
          flex-shrink: 0;
          margin-left: auto;
        }
      }
      &-poster {
        width: 50px;
        flex-shrink: 0;
        line-height: 0;
      }
      &-info {
        max-width: calc(100% - 100px);
        padding: 0 15px;
        flex-grow: 0;
        h5 {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;
          line-height: 1;
          a {
            display: block;
            overflow: hidden;
            color: $black;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}