<aside class="col-lg-4 col-md-5 sidebar">
  <div class="widget">
    <h4 class="widget-title blue">Самое обсуждаемое</h4>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="#">
          <img src="img/main-slider/bioshock_infinite.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="#">
          <img src="img/main-slider/batman_arkham_knigh.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="#">
          <img src="img/main-slider/half-life-alyx.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
  </div>
  <div class="widget">
    <h4 class="widget-title purple">Популярное видео</h4>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="tab-post.html" class="play-btn"></a>
        <a href="#">
          <img src="img/main-slider/bioshock_infinite.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="tab-post.html" class="play-btn"></a>
        <a href="#">
          <img src="img/main-slider/batman_arkham_knigh.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
    <article class="post-item">
      <div class="post-image">
        <a href="#" class="category-badge movie">Кино</a>
        <a href="tab-post.html" class="play-btn"></a>
        <a href="#">
          <img src="img/main-slider/half-life-alyx.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <h5>
        <a href="#">BioShock Infinite. Прямой рейс в Колумбию</a>
      </h5>
      <div class="post-meta">
        <div class="post-meta-wrap">
          <div class="meta-item date">19.12.2019</div>
          <div class="meta-item views">11</div>
          <div class="meta-item comments">0</div>
        </div>
      </div>
    </article>
  </div>
  <div class="widget">
    <h4 class="widget-title purple">Популярные игры</h4>
    <article class="catalog-post">
      <div class="catalog-poster">
        <a href="#">
          <img src="img/catalog/god-of-war.jpeg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="catalog-info">
        <h5>
          <a href="#" title="God Of War">God Of War</a>
        </h5>
        <div class="post-meta">
          <div class="post-meta-wrap light">
            <div class="meta-item likes">11</div>
            <div class="meta-item comments">15</div>
          </div>
        </div>
      </div>
      <div class="catalog-rating" data-rating="95">
        <div class="rating-value">95%</div>
      </div>
    </article>
    <article class="catalog-post">
      <div class="catalog-poster">
        <a href="#">
          <img src="img/catalog/dai.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="catalog-info">
        <h5>
          <a href="#" title="Dragon Age: Inqusition">Dragon Age: Inqusition</a>
        </h5>
        <div class="post-meta">
          <div class="post-meta-wrap light">
            <div class="meta-item likes">11</div>
            <div class="meta-item comments">15</div>
          </div>
        </div>
      </div>
      <div class="catalog-rating" data-rating="95">
        <div class="rating-value">95%</div>
      </div>
    </article>
    <article class="catalog-post">
      <div class="catalog-poster">
        <a href="#">
          <img src="img/catalog/witcher3.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="catalog-info">
        <h5>
          <a href="#" title="Witcher 3: Wild Hunt">Witcher 3: Wild Hunt</a>
        </h5>
        <div class="post-meta">
          <div class="post-meta-wrap light">
            <div class="meta-item likes">11</div>
            <div class="meta-item comments">15</div>
          </div>
        </div>
      </div>
      <div class="catalog-rating" data-rating="95">
        <div class="rating-value">95%</div>
      </div>
    </article>
    <article class="catalog-post">
      <div class="catalog-poster">
        <a href="#">
          <img src="img/catalog/bioshock.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="catalog-info">
        <h5>
          <a href="#" title="Bioshock: Infinite">Bioshock: Infinite</a>
        </h5>
        <div class="post-meta">
          <div class="post-meta-wrap light">
            <div class="meta-item likes">11</div>
            <div class="meta-item comments">15</div>
          </div>
        </div>
      </div>
      <div class="catalog-rating" data-rating="95">
        <div class="rating-value">95%</div>
      </div>
    </article>
  </div>
</aside>