<ul class="social-list">
  <li>
    <a href="#" class="vk" aria-label="vkontakte"></a>
  </li>
  <li>
    <a href="#" class="facebook" aria-label="facebook"></a>
  </li>
  <li>
    <a href="#" class="youtube" aria-label="youtube"></a>
  </li>
  <li>
    <a href="#" class="twitch" aria-label="twitch"></a>
  </li>
  <li>
    <a href="#" class="instagram" aria-label="steam"></a>
  </li>
  <li>
    <a href="#" class="telegram" aria-label="telegram"></a>
  </li>
</ul>