.social-list {
  display: flex;
  list-style: none;
  li + li {
    margin-left: 10px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    background-color: $dark-light;
    color: $light-grey;
    transition: background-color .3s, color .3s;
    &:hover {
      color: #fff;
    }
    &::after {
      font-family: "Font Awesome 5 Brands", sans-serif;
      font-style: normal;
      font-weight: 400;
      text-decoration: inherit;
    }
    &.vk {
      &::after {
        content: "\f189";
      }
      &:hover {
        background-color: #4a76a8;
      }
    }
    &.facebook {
      &::after {
        content: "\f39e";
      }
      &:hover {
        background-color: #3b5998;
      }
    }
    &.instagram {
      &::after {
        content: "\f16d";
      }
      &:hover {
        background-color: #c13584;
      }
    }
    &.youtube {
      &::after {
        content: "\f167";
      }
      &:hover {
        background-color: #e62117;
      }
    }
    &.twitch {
      &::after {
        content: "\f1e8";
      }
      &:hover {
        background-color: #6441a4;
      }
    }
    &.telegram {
      &::after {
        content: "\f3fe";
      }
      &:hover {
        background-color: #0088cc;
      }
    }
  }
}

@media (max-width: 575px) {
  .social-list {
    justify-content: center;
  }
}

@media (max-width:575px) {
  .social-list {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .social-list {
    margin: 0;
  }
}