.page-not-found {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 0;
  &-block {
    padding: 100px 0;
    font-family: "Montserrat";
    color: #4D525B;
    text-align: center;
    .search-form {
      position: relative;
      margin-bottom: 20px;
      input[type=search] {
        width: 100%;
        height: 40px;
        padding-left: 15px;
        padding-right: 30px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        font-weight: 400;
        font-size: 14px;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
      .search-submit {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 14px;
        opacity: .5;
        text-shadow: none;
        width: 20px;
        height: 100%;
        border: none;
        padding: 0;
        text-align: center;
        outline: none;
        background: transparent;
        cursor: pointer;
        &:hover {
          opacity: 1;
          color: $dark;
        }
        &::after {
          content: "\f002";
          font-family: "Font Awesome 5 Free", sans-serif;
          font-style: normal;
          font-size: 14px;
          font-weight: 900;
          text-decoration: inherit;
        }
      }
    }
  }
  &-message {
    margin-bottom: 30px;
    font-weight: 800;
    color: rgba(34, 34, 34, 0.7);
  }
}

@media (max-width: 575px) {
  .page-not-found {
    font-size: 130px;
    img {
      height: 100px;
    }
  }
}

@media (min-width: 576px) {
  .page-not-found {
    font-size: 200px;
    img {
      height: auto;
    }
  }
}