
.video-content {
  display: none;
  position: relative;
  width: 100%;
  text-decoration: none;
  color: $dark-light;
  transition: box-shadow .4s linear;
  &.active {
    display: block;
  }
  &.fade {
    transition: opacity .15s linear;
  }
  &.fade:not(.show) {
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  .category-badge {
    position: absolute;
    top: 15px;
    z-index: 5;
  }
  .video-image {
    display: block;
    margin: 0;
    position: relative;
    line-height: 0;
    overflow:hidden;
    img {
      height: 100%;
      object-fit: cover;
      transition: transform .5s linear;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      opacity: 0;
      height: 100%;
      left: 0px;
      top:0;
      z-index: 1;
      background: rgba(0, 10, 20, .4);
      transition: opacity 0.5s linear;
    }
  }
  .video-info {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
  }
  .video-title{
    margin-bottom: 10px;
    a{
      line-height: 28px;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      transition: color .4s;
      &:hover{
        color:$blue;
      }
    }
  }
}

.video-tab {
  display: block;
  width: 100%;
  height: 420px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  border: 1px solid $dark-light;
  z-index: 1;
  .tab-item {
    width: 100%;
    .tab-post {
      display: flex;
      width: 100%;
      height: 110px;
      background-color: #202026;
      text-decoration: none;
      &-content{
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column;
      }
      &-image {
        position: relative;
        z-index: 1;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-title {
        color: #ffffff;
        margin-bottom: 10px;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.2;
      }
      &.active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: 575px) {
  .video-content {
    .video-title {
      font-size: 18px;
    }
    .video-info {
      padding: 15px 10px;
    }
    .category-badge {
      left: 10px;
    }
    .play-btn {
      right: 10px;
      top: 15px;
      left: auto;
      bottom: auto;
    }
  }
  .video-tab {
    .tab-item {
      .tab-post {
        padding: 15px 10px;
        &-image {
          flex: 0 0 90px;
        }
        &-content {
          padding-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .tab-content {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .video-content {
    .category-badge {
      left: 15px;
    }
  }
  .video-tab {
    .tab-item {
      .tab-post {
        padding: 15px;
        &-image {
          flex: 0 0 110px;
        }
        &-content {
          padding-left: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .video-content {
    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
      .play-btn {
        animation: pulseicon 1.0s alternate ease-in-out infinite;
      }
      .video-image {
        img {
          transform: scale(1.1);
        }
        &::before {
          opacity: 1;
        }
      }
    }
    .video-info {
      padding: 20px;
    }
    .video-title {
      font-size: 24px;
    }
    .video-image {
      height:420px;
    }
  }
}