.logo-brand {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .brand-name {
    display: inline-block;
    font-family: "Enthalpy", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;
    color: #fff;
  }
}

@media (max-width:991px) {
  .logo-brand {
    img[src*=logo] {
      height: 35px;
    }
    .brand-name {
      margin-left: 5px;
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) {
  .logo-brand {
    img[src*=logo] {
      height: 40px;
    }
    .brand-name {
      margin-left: 10px;
      font-size: 25px;
    }
  }
}