<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        @@include("../main-title/main-title_about.html")
      </div>
      <div class="col-12">
        <div class="card-post">
          <div class="post-content">
            <h4 class="post-title">Рады приветствовать Вас на нашем сайте. Что тут можно найти?</h4>
            <div class="post-excerpt">
              <p>Много игр, отсортированных по алфавиту; ежедневные горячие игровые новости; актуальные обзоры игр; коды к играм как к новым, так и к древним игрушкам; большое количество прохождений игр, которые помогут Вам с легкостью пройти любимую игру; трейнеры и сейвы, помогающие геймерам; множество скриншотов из игр и обоев игровой тематики; различные советы и тактики игр от наших постоянных посетителей.</p>
              <p>Помимо игр на компьютер, у нас вы найдете материалы по консольным проектам. Игры на Sony PlayStation 2, 3 и 4, PS Vita, Xbox One и 360, Nintendo Wii U и DS, а также на мобильные телефоны и планшеты iPad, iPhone и Android ждут вас на наших страницах. Обзоры как бесплатных игр на компьютер, консоли и мобильные платформы, так и на лучшие коммерческие хиты вы найдете на StopGame.</p>
              <p>Для тех же, кто предпочитает смотреть, а не читать, открыт наш StopGame-видеоканал. Всегда в эфире: игровое видео (трейлеры, интервью, репортажи), актуальные видеообзоры и видеопревью; удивительная машинима и кино по мотивам игр; наш ежедневный новостной видео-дайджест «Инфакт» обо всём и сразу из мира игр; видеодайджест ретро-игр «Ретрозор»; новости об инди индустрии в передаче «Индикатор»; любители онлайн игр и сетевых баталий оценят ММО-дайджест «ММОдерн»; новости из мира мобильных технологий и обзоры игр на телефоны, планшеты всегда в «AppZor»; и завершает все наш «Календарь релизов» - коротко об игровых новинках грядущего месяца. Каждый ролик можно смотреть как в браузере, так и скачать его в разных вариантах качества.</p>
              <p>Для тех, кто хочет всегда оставаться в курсе игровых событий открыт раздел даты выхода игр, в котором можно найти ближайшие релизы любимых проектов.</p>
              <p>Для тех, кто еще не разучился читать, наши постоянные рубрики «Первая полоса» и «Аналитика», где можно ознакомиться с новыми игровыми тенденциями, узнать вектор развития рынка и прочитать о новых технологиях из мира игр.
                С помощью нас можно следить за онлайн сражениями в рубрике «Live-трансляции» (стримы), когда наша команда разбирает игровой проект в прямом эфире и общается с посетителями сайта. Записи этих эфиров всегда доступны у нас и конечно же их расписание.
                Мобильные игроки оценят нашу коллекцию бесплатных игр нa тeлeфон. Доступны мобильные игры в разных жанрах и для разных разрешений экранов.</p>
              <p>Для занятых людей у нас работают rss лента всех обновлений сайта, ежедневная бесплатная рассылка на ваш email и уникальная система слежения за играми.</p>
              <p>Любителям статистики посвящены наши топы - 50 лучших материалов сайта, 50 лучших игр, за которыми следят наши пользователи и рейтинг игр согласно оценкам посетителей.
                Для ликбеза у нас есть рубрика FAQ - вопросы и ответы по играм, где каждый может как спросить так и помочь в поиске сложных решений по любой проблеме.</p>
              <p>Все вопросы, касающиеся игр можно задать на наших игровых блогах или просто пообщаться с такими же любителями игр.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>