input {
  &[type=text],
  &[type=password],
  &[type=email] {
    width: 100%;
    height: 40px;
    padding: 0 30px 0 15px;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    color: $dark-grey;
    & + input {
      margin-top: 20px;
    }
    &:focus {
      outline-color: $blue;
    }
    &::placeholder {
      color: $dark-grey;
    }
  }
  &[type=checkbox] {
    display: none;
    &:checked + .checkbox-replacer {
      background-color: $blue;
      &::before {
        display: inline-block;
        content: "\f00c";
      }
    }
  }
}

.input-group {
  position: relative;
  & + .input-group {
    margin-top: 20px;
  }
  &:last-of-type {
    margin-bottom: 20px;
  }
  &.valid {
    input {
      border-color: $green;
      background-color: rgba($green, .1);
    }
    &::after {
      display: inline-flex;
      content: "\f00c";
      color: $green;
    }
  }
  &.invalid {
    input {
      border-color: $red;
      background-color: rgba($red, .1);
    }
    &::after {
      display: inline-flex;
      content: "\f00d";
      color: $red;
    }
  }
  &::after {
    align-items: center;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto 0;
    display: none;
    font-family: "Font Awesome 5 Free";
    content: "";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    text-decoration: inherit;
  }
}

.checkbox-wrap {
  margin-bottom: 20px;
}

.checkbox-replacer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: #fff;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  vertical-align: text-top;
  &::before {
    display: none;
    font-family: "Font Awesome 5 Free";
    content: "";
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    text-decoration: inherit;
  }
}

label {
  display: inline-block;
  & +input {
    margin-top: 20px;
  }
}