.catalog-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 50%;
  @for $i from 1 through 100 {
    &[data-rating="#{$i}"] {
      @if ($i < 40) {
        background-color: $red;
      } @else if ($i >= 40 and $i < 70) {
        background-color: $orange;
      } @else {
        background-color: $green;
      }
    }
    
  }
  &.badge {
    position: absolute;
    top: 10px;
    right: 5px;
  }
  .rating-value {
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
}