<div class="main-slider">
    <div class="slider owl-carousel">
        <div class="slider-post">
            <a href="#" class="post-link"></a>
            <img src="img/main-slider/batman_arkham_knigh.jpg" class="post-thumbnail" alt="">
            <div class="post-content">
                <a href="" class="category-badge movie">Кино</a>
                <h4 class="post-title">Ненавязчивый анализ Metro: Exodus</h4>
                <p class="post-excerpt">Praesent eget erat vel odio mattis fermentum nec nec arcu.</p>
                @@include("../post-meta/post-meta_dark.html")
            </div>
        </div>
        <div class="slider-post">
            <a href="#" class="post-link"></a>
            <img src="img/main-slider/metro-exodus.png" class="post-thumbnail" alt="">
            <div class="post-content">
                <a href="" class="category-badge games">Игры</a>
                <h4 class="post-title">Ненавязчивый анализ Metro: Exodus</h4>
                <p class="post-excerpt">Praesent eget erat vel odio mattis fermentum nec nec arcu.</p>
                @@include("../post-meta/post-meta_dark.html")
            </div>
        </div>
        <div class="slider-post">
            <a href="#" class="post-link"></a>
            <img src="img/main-slider/bioshock_infinite.jpg" class="post-thumbnail" alt="">
            <div class="post-content">
                <a href="" class="category-badge other">Другое</a>
                <h4 class="post-title">Ненавязчивый анализ Metro: Exodus</h4>
                <p class="post-excerpt">Praesent eget erat vel odio mattis fermentum nec nec arcu.</p>
                @@include("../post-meta/post-meta_dark.html")
            </div>
        </div>
        <div class="slider-post">
            <a href="#" class="post-link"></a>
            <img src="img/main-slider/half-life-alyx.jpg" class="post-thumbnail" alt="">
            <div class="post-content">
                <a href="" class="category-badge games">Игры</a>
                <h4 class="post-title">Ненавязчивый анализ Metro: Exodus</h4>
                <p class="post-excerpt">Praesent eget erat vel odio mattis fermentum nec nec arcu.</p>
                @@include("../post-meta/post-meta_dark.html")
            </div>
        </div>
        <div class="slider-post">
            <a href="#" class="post-link"></a>
            <img src="img/main-slider/bioshock_infinite.jpg" class="post-thumbnail" alt="">
            <div class="post-content">
                <a href="" class="category-badge movie">Кино</a>
                <h4 class="post-title">Ненавязчивый анализ Metro: Exodus</h4>
                <p class="post-excerpt">Praesent eget erat vel odio mattis fermentum nec nec arcu.</p>
                @@include("../post-meta/post-meta_dark.html")
            </div>
        </div>
    </div>
    <button type="button" role="presentation" class="slider-prev"></button>
    <button type="button" role="presentation" class="slider-next"></button>
</div>