@import '../../../../node_modules/owl.carousel/src/scss/owl.carousel.scss';

.slider {
  position: relative;
  &-post {
    position: relative;
    height: 510px;
    .post-thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .post-link {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .post-content {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      padding: 0 15px;
    }
    .post-title {
      margin-top: 10px;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: #fff;
    }
    .post-excerpt {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.slider-next,
.slider-prev {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 30px;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  opacity: .7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    line-height: 1;
    color: #fff;
  }
}

.main-slider {
  position: relative;
  width: 100%;
}

.slider-prev {
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto 0;
  &::after {
    content: "\f053";
  }
}
.slider-next {
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto 0;
  &::after {
    content: "\f054";
  }
}