<nav class="breadcrumbs" aria-label="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Geek’s-planet</a></li>
          <li class="breadcrumb-item active" aria-current="page">Статьи</li>
        </ol>
      </div>
    </div>
  </div>
</nav>