.breadcrumbs {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 11px 0;
  &-item {
    position: relative;
    display: inline;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    color: $grey;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
  &-item + &-item {
    margin-left: -4px;
    padding-left: 9px;
    &::before {
      content: "/";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}