<article class="card-post horizontal">
  <div class="post-image">
    <a href="#">
      <img src="img/main-slider/bioshock_infinite.jpg" class="img-fluid" alt="О некоторых комиксах и игровых адаптациях">
    </a>
  </div>
  <a href="#" class="category-badge movie">Кино</a>
  <div class="post-info">
    <div class="post-content">
      <h4 class="post-title">
        <a href="#">Вероятно, Death Stranding отправит нас в Исландию — спасибо скриншоту со мхом</a>
      </h4>
      <div class="post-excerpt">Если Кодзима (Hideo Kojima) постит мох — значит, это не просто так. Картинка с зелёной порослью и впрямь натолкнула...</div>
    </div>
    @@include("../post-meta/card-post_meta.html")
  </div>
</article>