.card-post {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  .post-content {
    padding: 15px;
  }
  .post-image {
    position: relative;
    line-height: 0;
  }
  .category-badge {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .post-title {
    font-size: 18px;
    line-height: 21px;
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
  .post-excerpt {
    font-size: 14px;
    line-height: 20px;
    color: $grey;
  }
}

@media (min-width: 992px) {
  .card-post {
    &.horizontal {
      display: flex;
      .post-image {
        flex-basis: 260px;
        flex-shrink: 0;
        box-shadow: 1px 0 3px rgba(0,0,0,.25);
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .post-content {
        padding: 15px 20px 20px 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .card-post {
    margin-bottom: 20px;
    .post-title {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 576px) {
  .card-post {
    margin-bottom: 30px;
    .post-title {
      margin-bottom: 15px;
    }
  }
}