<article class="card-post">
  <div class="post-image">
    <a href="tab-post.html" class="play-btn"></a>
    <a href="#">
      <img src="img/main-slider/bioshock_infinite.jpg" class="img-fluid" alt="О некоторых комиксах и игровых адаптациях">
    </a>
  </div>
  <a href="#" class="category-badge movie">Кино</a>
  <div class="post-info">
    <div class="post-content">
      <h4 class="post-title">
        <a href="#">О некоторых комиксах и игровых адаптациях</a>
      </h4>
    </div>
    @@include("../post-meta/card-post_meta.html")
  </div>
</article>