.comments-pagination{
  margin-bottom: 15px;
}
.pagination,
.comments-pagination{
  ul{
      margin: 0;
      padding: 0;
      li{
          display: inline-block;
          margin: 0 1px;
      }
      .page-numbers{
          display: inline-block;
          color:$grey;
          background-color: #fff;
          padding: 5px 10px;
          font-size: 12px;
          border: medium none;
          font-weight: 700;
          line-height: 1.5em;
          text-decoration: none;
          box-shadow: 0 0 0 1px rgba(4,47,89,.12) inset;
          transition: background-color .5s linear, color .3s linear;
          a{
              color:$dark-grey;
              text-decoration: none;
          }
          &.active{
              pointer-events: none;
              background-color: $blue;
              color: #fff;
          }
          &.current{
              background-color: $blue;
              color: #fff;
          }
      }
      a.page-numbers{
          cursor: pointer;
          &:hover{
              background-color: $blue;
              color:#fff;
          }
      }
  }
}