<nav class="pagination-container pagination" role="navigation" aria-label="Page navigation">
  <ul class="page-numbers">
    <li>
      <span aria-current="page" class="page-numbers current">1</span>
    </li>
    <li>
      <a class="page-numbers" href="#">2</a>
    </li>
    <li>
      <a class="page-numbers" href="#">3</a>
    </li>
    <li>
      <a class="page-numbers" href="#">4</a>
    </li>
    <li>
      <a class="page-numbers" href="#">5</a>
    </li>
    <li>
      <span class="page-numbers dots">…</span>
    </li>
    <li>
      <a class="page-numbers" href="#">10</a>
    </li>
    <li>
      <a class="next page-numbers" href="#">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</nav>