<footer class="footer">
  <div class="footer-section footer-nav">
    <div class="container">
      <div class="row no-gutters">
        <div class="footer-nav-block">
          <h4 class="footer-title">Новости</h4>
          <ul class="footer-menu">
            <li>
              <a href="#">Все</a>
            </li>
            <li>
              <a href="#">PC</a>
            </li>
            <li>
              <a href="#">Xbox</a>
            </li>
            <li>
              <a href="#">Playstation</a>
            </li>
            <li>
              <a href="#">VR</a>
            </li>
            <li>
              <a href="#">Железо</a>
            </li>
            <li>
              <a href="#">Кино</a>
            </li>
            <li>
              <a href="#">Сериалы</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <h4 class="footer-title">Статьи</h4>
          <ul class="footer-menu">
            <li>
              <a href="#">Все</a>
            </li>
            <li>
              <a href="#">PC</a>
            </li>
            <li>
              <a href="#">Xbox</a>
            </li>
            <li>
              <a href="#">Playstation</a>
            </li>
            <li>
              <a href="#">VR</a>
            </li>
            <li>
              <a href="#">Железо</a>
            </li>
            <li>
              <a href="#">Кино</a>
            </li>
            <li>
              <a href="#">Сериалы</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <h4 class="footer-title">Видео</h4>
          <ul class="footer-menu">
            <li>
              <a href="#">Все</a>
            </li>
            <li>
              <a href="#">PC</a>
            </li>
            <li>
              <a href="#">Xbox</a>
            </li>
            <li>
              <a href="#">Playstation</a>
            </li>
            <li>
              <a href="#">VR</a>
            </li>
            <li>
              <a href="#">Железо</a>
            </li>
            <li>
              <a href="#">Кино</a>
            </li>
            <li>
              <a href="#">Сериалы</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <h4 class="footer-title">Игры</h4>
          <ul class="footer-menu">
            <li>
              <a href="#">Все</a>
            </li>
            <li>
              <a href="#">PC</a>
            </li>
            <li>
              <a href="#">Xbox</a>
            </li>
            <li>
              <a href="#">Playstation</a>
            </li>
            <li>
              <a href="#">VR</a>
            </li>
            <li>
              <a href="#">Железо</a>
            </li>
            <li>
              <a href="#">Кино</a>
            </li>
            <li>
              <a href="#">Сериалы</a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-block">
          <h4 class="footer-title">Кино</h4>
          <ul class="footer-menu">
            <li>
              <a href="#">Все</a>
            </li>
            <li>
              <a href="#">PC</a>
            </li>
            <li>
              <a href="#">Xbox</a>
            </li>
            <li>
              <a href="#">Playstation</a>
            </li>
            <li>
              <a href="#">VR</a>
            </li>
            <li>
              <a href="#">Железо</a>
            </li>
            <li>
              <a href="#">Кино</a>
            </li>
            <li>
              <a href="#">Сериалы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <h4 class="footer-title">Подписка на новости</h4>
          <form action="" class="footer-subscribe">
            <input type="email" name="email" id="email" class="subscribe-email">
            <button class="btn-subscribe" type="submit" accesskey=""></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section contacts">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          @@include("../social-list/social-list.html")
        </div>
        <div class="col-sm-6 footer-action">
          <a href="#" class="btn btn-blue">Контакты</a>
          <a href="#" class="btn btn-green">Реклама</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <p class="footer-copyright"><i class="far fa-copyright"></i> 2018 GEEK'S-PLANET</p>
          <p class="footer-copyright">Использование любых материалов сайта без согласования с администрацией запрещено.</p>
        </div>
        <div class="col-sm-3 footer-warning">
          <div class="warning">
            <i class="fas fa-exclamation-triangle"></i> +18
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>