.footer {
  &-action {
    display: flex;
  }
  &-section {
    background-color: $dark;
    &.subscribe {
      text-align: center;
    }
  }
  &-section + &-section {
    border-top: 1px solid $dark-light;
  }
  &-title {
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
  }
  &-subscribe {
    position: relative;
    width: 100%;
    input[type=email] {
      width: 100%;
      height: 35px;
      border: none;
      padding: 0 40px 0 10px;
      border-radius: 3px;
      color: #fff;
      background: $dark-light;
      outline-color: $blue;
    }
    .btn-subscribe {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin-bottom: auto;
      margin-top: auto;
      border: none;
      padding: 0;
      color: #fff;
      font-size: 20px;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      &::before {
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f0e0";
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
      }
    }
  }
  &-copyright {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: $white-light;
  }
  &-warning {
    .warning {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 35px;
      background-color: $dark-light;
      border-radius: 3px;
      color: $white-light;
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      i {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &-action {
      justify-content: center;
    }
    &-copyright {
      text-align: center;
    }
    &-warning {
      text-align: center;
      .warning {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .footer {
    &-nav {
      display: none;
    }
    &-section {
      padding: 25px 0;
    }
  }
}

@media (min-width: 576px) {
  .footer {
    &-action {
      justify-content: flex-end;
    }
    &-copyright {
      text-align: left;
    }
    &-warning {
      text-align: right;
      .warning {
        margin: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .footer {
    &-nav {
      .row {
        justify-content: space-between;
      }
    }
    &-section {
      padding: 50px 0;
    }
    &-menu {
      list-style: none;
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          color: $white-light;
          font-size: 16px;
          line-height: 19px;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}