.main-title{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
    &.light {
      background-color: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      .title-link {
        border-bottom-color: $blue;
        color: $blue;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
    h1, h2{
      margin: 0;
      line-height: 1;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-weight: 900;
    }
    .title-link{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        transition: border-bottom-color .3s;
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        top: -1px;
        left: 0;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &.news {
        border-bottom: 3px solid $red;
        &::before {
            background-color: $red;
            background-image: url(../../img/svg/ic-news.svg);
        }
    }
    &.articles {
        border-bottom: 3px solid $purple;
        &::before {
            background-color: $purple;
            background-image: url(../../img/svg/ic-post.svg);
        }
    }
    &.about {
      border-bottom: 3px solid $blue;
      &::before {
          background-color: $blue;
          background-image: url(../../img/svg/ic-planet.svg);
      }
    }
    &.video {
      border-bottom: 3px solid $purple;
      &::before {
        background-color: $purple;
        background-image: url(../../img/svg/ic-video.svg);
      }
    }
    &.games {
      border-bottom: 3px solid $blue;
      &::before {
        background-color: $blue;
        background-image: url(../../img/svg/ic-gamepad.svg);
      }
    }
    &.dark {
      color: #fff;
      border-bottom: 3px solid $dark-light;
      .title-link {
        color: #fff;
        border-bottom-color: #fff;
        &:hover {
          border-bottom-color: transparent;
        }
      }
      &::before {
        background-color: $dark-light;
      }
    }
}

@media (max-width:575px) {
  .main-title {
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 50px;
    h1, h2 {
      font-size: 20px;
    }
    .title-link {
      font-size: 12px;
    }
    &::before {
      width: 40px;
      height: 40px;
      background-size: 25px 25px;
    }
  }
}

@media (min-width: 576px) {
  .main-title {
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 80px;
    h1, h2 {
      font-size: 30px;
    }
    .title-link {
      font-size: 16px;
    }
    &::before {
      width: 60px;
      height: 60px;
      background-size: auto;
    }
  }
}