<section class="bg-image bg-image-sm section-streamer player p-y-65" style="background-image: url('https://img.youtube.com/vi/oqElIW1mjlQ/maxresdefault.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="video-caption">
      <h5><i class="fa fa-circle"></i> Live Now: EU LCS Summer 2017 - Week 2 Day 1: Misfits vs. Ninjas in Pyjamas</h5>
    </div>
    <div class="video-play video-live">
      <iframe width="100%" height="640" src="https://www.youtube.com/embed/iOHZKly3B3Y?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text-right m-t-20">
      <a href="videos.html" class="btn btn-outline-default btn-rounded btn-lg float-left m-r-30">Donate me <i class="fa fa-heart-o"></i></a>
      <a href="videos.html" class="btn btn-twitch btn-shadow btn-rounded btn-lg m-l-20">Watch on Twitch <i class="fa fa-twitch"></i></a>
    </div>
  </div>
</section>