@font-face {
  font-family: "Enthalpy";
  src: url('../../fonts/Enthalpy298Regular.eot');
  src: url('../../fonts/Enthalpy298Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Enthalpy298Regular.svg#Enthalpy298Regular') format('svg'),
       url('../../fonts/Enthalpy298Regular.ttf') format('truetype'),
       url('../../fonts/Enthalpy298Regular.woff') format('woff'),
       url('../../fonts/Enthalpy298Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}