/* ANIMATIONS */
@keyframes pulseicon {
	from {
		transform: scale(1)
	}

	to {
		transform: scale(1.2)
	}
}
/* ANIMATIONS */

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: $black;
  background: #fafafa;
}

.img-fluid {
  width: 100%;
}

.section {
  padding: 30px 0;
  &.dark {
    background-color: $dark;
  }
}

.btn {
  display: inline-flex;
  width: auto;
  height: 30px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  letter-spacing: .3px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  transition: all .4s linear;
  &:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 0 230px rgba(0,0,0,.2);
  }
  &.btn-blue {
    background-color: $blue;
    color: #fff;
  }
  &.btn-green {
    background-color: $green;
    color: #fff;
  }
  &.w-100 {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
  }
  &.social-registr {
    justify-content: flex-start;
    & + .social-registr {
      margin-top: 20px;
    }
    &::before {
      min-width: 12px;
      margin-right: 15px;
      font-family: "Font Awesome 5 Brands", sans-serif;
      font-style: normal;
      font-weight: 400;
      text-decoration: inherit;
    }
  }
  &.vk {
    background-color: #4C75A3;
    &::before {
      content: "\f39e";
    }
  }
  &.facebook {
    background-color: #3B5998;
    &::before {
      content: "\f189";
    }
  }
  &.google {
    background-color: #D34836;
    &::before {
      content: "\f1a0";
    }
  }
  &.login{
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f2f6";
      font-style: normal;
      font-weight: 900;
      text-decoration: inherit;
      margin-right: 5px;
    }
  }
  &.registration {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f234";
      font-style: normal;
      font-weight: 900;
      text-decoration: inherit;
      margin-right: 5px;
    }
  }
}

.category-badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  &:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 0 230px rgba(0,0,0,.2);
  }
  &.games {
    background: $blue;
  }
  &.other {
    background: $purple;
  }
  &.movie {
    background: $red;
  }
}

.play-btn {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(39,39,39,.5);
  border: 3px solid #d0d2d5;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  transition: all .2s ease-in-out;
  &::after{
    position: absolute;
    content: '';
    display: block;
    left: 17px;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #D0D2D5;
  }
}

body {
  margin-top: 66px;
}

.page-content {
  padding: 30px 0;
}

.card-block {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  &-title {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1;
    color: $dark-grey;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    &.registration {
      &::before {
        content: "\f234";
        margin-right: 5px;
        font-family: "Font Awesome 5 Free", sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 900;
        text-decoration: inherit;
      }
    }
    &.login{
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f2f6";
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
        margin-right: 5px;
      }
    }
    &.forget{
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f023";
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
        margin-right: 5px;
      }
    }
  }
  &-content {
    padding: 30px 15px;
  }
  &-divider {
    position: relative;
    margin: 20px 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $dark-grey;
    .divider-text {
      display: inline-block;
      position: relative;
      z-index: 2;
      padding: 0 10px;
      background-color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin: auto 0;
      background-color:rgba(0, 0, 0, .1);
    }
  }
}

@media (max-width:991px) {
  .section {
    &:first-of-type {
      padding-top: 30px;
    }
  }
}

@media (min-width: 992px) {
  body {
    margin-top: 72px;
  }
  .section {
    &:first-of-type {
      padding-top: 60px;
    }
  }
}