<div class="catalog-item dark">
  <figure class="catalog-poster">
    <a href="#">
      <img src="/img/catalog/god-of-war.jpeg" class="img-fluid" alt="God of War" />
    </a>
  </figure>
  <div class="catalog-rating badge" data-rating="95">
    <div class="rating-value">95%</div>
  </div>
  <div class="catalog-content">
    <h4 class="catalog-title">
      <a href="#">God Of War</a>
    </h4>
    <ul class="catalog-info">
      <li>
        <a href="#mac">Mac</a>
      </li>
      <li>
        <a href="#pc">PC</a>
      </li>
      <li>
        <a href="#playstation">PS4</a>
      </li>
      <li>
        <a href="#xbox">Xbox360</a>
      </li>
    </ul>
    @@include("../post-meta/catalog_meta.html")
  </div>
</div>