<div class="catalog-item light">
  <figure class="catalog-poster">
    <a href="#">
      <img src="/img/catalog/god-of-war.jpeg" class="img-fluid" alt="God of War" />
    </a>
  </figure>
  <div class="catalog-rating badge" data-rating="95">
    <div class="rating-value">95%</div>
  </div>
  <div class="catalog-content">
    <h4 class="catalog-title">
      <a href="#">God Of War</a>
    </h4>
    <ul class="catalog-info">
      <li>
        <a href="#mac">Mac</a>
      </li>
      <li>
        <a href="#pc">PC</a>
      </li>
      <li>
        <a href="#playstation">PS4</a>
      </li>
      <li>
        <a href="#xbox">Xbox360</a>
      </li>
    </ul>
    <div class="post-meta">
      <div class="post-meta-wrap light">
        <div class="meta-item likes">11</div>
        <div class="meta-item comments">15</div>
      </div>
    </div>
  </div>
</div>