.catalog-item {
  position: relative;
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
  &.dark {
    background-color: $dark-light;
    color: #fff;
    .catalog-title {
      a {
        color: #fff;
      }
    }
    .catalog-info {
      li {
        a {
          color: $white-light;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  &.light {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: $black;
    .catalog-title {
      a {
        color: $black;
      }
    }
    .catalog-info {
      li {
        a {
          color: $grey;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  .catalog-poster {
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
    line-height: 0;
    img{
      transition: transform .5s linear;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
  .catalog-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1;
    a {
      
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
  .catalog-info {
    list-style: none;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-right: 6px;
      font-size: 12px;
      line-height: 1;
      a{
        text-decoration: none;
        &:before {
          font-family: 'Font Awesome 5 Brands';
          font-weight: normal;
          margin-right: 5px;
        }
        &[href*="mac"] {
          &::before {
            content: '\f179';
          }
        }
        &[href*="pc"] {
          &::before {
            content: '\f3ca';
          }
        }
        &[href*="playstation"] {
          &::before {
            content: '\f3df';
          }
        }
        &[href*="xbox"] {
          &::before {
            content: '\f412';
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .catalog-item {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .catalog-item {
    margin-bottom: 30px;
  }
}